/node_modules
dist/waveform-playlist/data
/coverage
/dist/waveform-playlist/public/media/audio/
# compiled files
/lib
.sass-cache
/styles
*.mp3
*.wav
dist/waveform-playlist/public/js/Creds.js
dist/waveform-playlist/public/media/json/creds.json
